@{
    ViewData["Title"] = "Şifremi unuttum";
}
<section class="col-12 m-0 text-center py-5">
    <h1 class="fw-light">Şifremi unuttum</h1>
</section>
<section class="col-12 bg-white py-5">
    <partial name="_alert">
        <form asp-controller="account" asp-action="forgotpassword" method="post" class="w-33 m-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label for="Email" class="form-label">E-posta</label>
                <div class="input-group">
                    <input id="Email" name="Email" class="form-control" placeholder="E-posta adresiniz">
                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                </div>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </form>
</section>