@model LoginModel
@{
    ViewData["Title"] = "Giriş yap";
}

<section class="col-12 m-0 text-center py-5">
    <h1 class="fw-light">Giriş yap</h1>
</section>
<section class="col-12 bg-white py-5">
    <partial name="_alert">
        <form asp-controller="account" asp-action="login" method="post" class="w-33 m-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Username" class="form-control">
                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Giriş yap</button>
            </div>
            <div>Hesabınız yok mu?
                <a asp-controller="account" asp-action="register" class="link-primary d-inline"><u>Kayıt ol</u></a>
            </div>
            <div>
                <a asp-controller="account" asp-action="forgotpassword" class="link-primary d-inline"><u>Şifremi
                        unuttum</u></a>
            </div>
        </form>
</section>

@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}