@model ResetPasswordModel
@{
    ViewData["Title"] = "Şifremi yenile";
}
<section class="col-12 m-0 text-center py-5">
    <h1 class="fw-light">Şifremi yenile</h1>
</section>
<section class="col-12 bg-white py-5">
    <partial name="_alert">
        <form asp-controller="account" asp-action="resetpassword" method="post" class="w-33 m-auto">
            <input type="hidden" asp-for="Token">
            <input type="hidden" asp-for="UserId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <div class="input-group">
                    <input asp-for="Password" class="form-control">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                </div>
                <div class="form-text">Minimum 6 karakter</div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <input asp-for="RePassword" class="form-control">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                </div>
                <div class="form-text">Minimum 6 karakter</div>
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </form>
</section>

@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}