<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | GüzelSözSite</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/8fdb1aed08.js" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- Site css -->
    <link rel="stylesheet" href="~/css/style.css" />

</head>