<div class="header-bottom  bg-dark col-12 px-0">
    <div class="container clearfix">
        <div class="header-recommended w-75 float-start">
            <ul class="nav">
                <li class="nav-item">
                    <a asp-controller="home" asp-action="popular" class="nav-link">
                        <i class="fas fa-star"></i>
                        Popüler Kategoriler</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="home" asp-action="lastadded" class="nav-link">
                        <i class="fas fa-clock"></i>
                        Son Eklenenler</a>
                </li>
            </ul>
        </div>
        <div class="header-social w-25 float-start">
            <a href="#">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </div>
</div>