<h3 class="mb-3">Önerilen kategoriler <i class="far fa-thumbs-up"></i></h3>
<ul class="row row-cols-4 g-2">
    @foreach (var post in ViewBag.Related)
    {
        <li>
            <a href="/@post.Category.CategoryUrl/@post.PostUrl">
                <div class="card">
                    <img src="https://picsum.photos/600/300" class="card-img-top">
                    <div class="card-body p-2">
                        <h5 class="card-title fs-6 m-0">@post.PostTitle</h5>
                    </div>
                </div>
            </a>
        </li>
    }
</ul>
<hr>